# Salin file ini ke .env.local lalu isi nilainya
NEXT_PUBLIC_GAS_API_URL=https://script.google.com/macros/s/GANTI_ID_DEPLOYMENT_GAS/exec
GAS_API_SECRET=ganti_secret_rahasia_anda

SPREADSHEET_ID=ganti_id_google_sheet_crm_mansion

NEXTAUTH_SECRET=ganti_dengan_random_string_panjang
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_WA_OFFICE=628123456789
NEXT_PUBLIC_COMPANY_NAME=Mansion Realty
NEXT_PUBLIC_COMPANY_TAGLINE=Properti Impian Anda, Investasi Terbaik Anda
NEXT_PUBLIC_COMPANY_ADDRESS=Jl. Properti Raya No. 1, Jakarta Selatan
NEXT_PUBLIC_COMPANY_EMAIL=info@mansionrealty.co.id
NEXT_PUBLIC_COMPANY_PHONE=+6221-1234-5678
NEXT_PUBLIC_SITE_URL=https://mansionrealty.co.id
